<app-logout></app-logout>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">Reset Password</div>
                <div class="panel-body">

                    <form class="form-horizontal" role="form">


                        <div class="form-group">
                            <label for="email" class="col-md-4 control-label">E-Mail Address</label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control" name="email"
                                       value="">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                               <a [routerLink]="['/home']"> <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-btn fa-envelope"></i> Sorry, welcome Back
                            </button> </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>