<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-primary">
        <div class="panel-heading">Register</div>
        <div class="panel-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="firstname" class="col-md-4 control-label">First Name</label>

              <div class="col-md-6">
                <input id="firstname" type="text" class="form-control" name="firstname" value="">

              </div>
            </div>
            <div class="form-group">
              <label for="secondname" class="col-md-4 control-label">Second Name</label>

              <div class="col-md-6">
                <input id="secondname" type="text" class="form-control" name="secondname" value="">

              </div>
            </div>

            <div class="form-group">
              <label for="email" class="col-md-4 control-label">E-Mail Address</label>

              <div class="col-md-6">
                <input id="email" type="email" class="form-control" name="email" value="">

              </div>
            </div>

            <div class="form-group">
              <label for="password" class="col-md-4 control-label">Password</label>

              <div class="col-md-6">
                <input id="password" type="password" class="form-control" name="password">

              </div>
            </div>

            <div class="form-group">
              <label for="password-confirm" class="col-md-4 control-label">Confirm Password</label>

              <div class="col-md-6">
                <input id="password-confirm" type="password" class="form-control" name="password_confirmation">

              </div>
            </div>

            <div class="form-group">
              <div class="col-md-6 col-md-offset-4">
                <a [routerLink]="['/home']"><button type="submit" class="btn btn-primary">
                  <i class="fa fa-btn fa-user"></i> Register
              </button></a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
